---
import Layout from "../layouts/Layout.astro";
import { AccesoryTable } from "../components/AccesoryTable";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Control de Stock">
	<main>
		<SearchBar />
		<AccesoryTable client:only="react" />
	</main>
</Layout>

<style>
	main {
		margin-inline: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
