---
import Layout from "../layouts/Layout.astro";
import AccesoryTable from "../components/AccesoryTable.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Control de Stock">
	<main>
		<SearchBar />
		<AccesoryTable />
	</main>
</Layout>

<style></style>
