<tr>
  <td>1</td>
  <td>Codo</td>
  <td>Agua</td>
  <td>10</td>
  <td>OK</td>
  <td>
    <img src="#" alt="Codo" />
  </td>
  <td>
    <div>
      <button>Modificar</button>
      <button>Eliminar</button>
    </div>
  </td>
</tr>
