---
import AccesoryRow from "./AccesoryRow.astro";
---

<table>
  <thead>
    <tr>
      <td>#</td>
      <td>Nombre</td>
      <td>Tipo</td>
      <td>Cantidad</td>
      <td>Estado</td>
      <td>Imagen</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <AccesoryRow />
    <AccesoryRow />
    <AccesoryRow />
    <AccesoryRow />
  </tbody>
</table>
