<!-- <div class="mt-4 py-4"> -->
<div class="relative flex mx-auto mt-8 items-center">
  <span class="absolute left-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      ></path>
    </svg>
  </span>
  <form class="flex p-3 justify-center gap-2">
    <input
      type="text"
      placeholder="Buscar..."
      name="query"
      id="search"
      class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </form>
</div>
